body{
    display: flex;
    height: 100vh;
}

.grid-container {
    display: flex;
    flex-direction: column;
    max-width: 860px;
    max-height: 860px;
    margin: 0;
    border: 3px solid black;
}

.square {
    flex: 1;
    border: 1px solid black;
}

.row {
    flex: 1;
    display: flex;
    margin: 0;
    width: 860px;
    height: 800px;
}